---
BasedOnStyle: Google
AccessModifierOffset: '-4'
AllowShortFunctionsOnASingleLine: None
BinPackArguments: 'false'
BinPackParameters: 'false'
BreakBeforeBinaryOperators: All
BreakBeforeBraces: CustomBraceWrapping:	AfterCaseLabel: 'false'	AfterClass: 'true'	AfterControlStatement: 'false'	AfterEnum: 'true'	AfterFunction: 'true'	AfterNamespace: 'false'	AfterObjCDeclaration: 'false'	AfterStruct: 'true'	AfterUnion: 'false'	AfterExternBlock: 'false'	BeforeCatch: 'false'	BeforeElse: 'false'	IndentBraces: 'false'	SplitEmptyFunction: 'false'	SplitEmptyRecord: 'false'	SplitEmptyNamespace: 'false'
BreakConstructorInitializers: BeforeComma
ColumnLimit: '110'
IndentWidth: '4'
NamespaceIndentation: None
PointerAlignment: LeftDerivePointerAlignment: 'false'
SortIncludes: 'false'
SpaceInEmptyParentheses: 'false'
SpacesInAngles: 'true'
SpacesInCStyleCastParentheses: 'false'
SpacesInContainerLiterals: 'true'
SpacesInParentheses: 'true'
SpacesInSquareBrackets: 'true'
TabWidth: '4'
UseTab: Always

...
